<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>fontSize</string>
			<key>Key</key>
			<string>fontSize</string>
			<key>DefaultValue</key>
			<string>12</string>
			<key>Titles</key>
			<array>
				<string>big</string>
				<string>normal</string>
				<string>small</string>
			</array>
			<key>Values</key>
			<array>
				<string>17</string>
				<string>14</string>
				<string>12</string>
			</array>
		</dict>
		<dict>
			<key>File</key>
			<string>Team</string>
			<key>Title</key>
			<string>Team / Lizenz</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>hideTabBar</string>
			<key>Key</key>
			<string>hideTabBar</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Group_IconBadge</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>showIconBadge</string>
			<key>Title</key>
			<string>ShowIconBadge</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Group_VibrateOnReload</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>vibrateOnReload</string>
			<key>Title</key>
			<string>ShakeToReload</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
